<nav class="generalButtons position-absolute">
  <!-- tab-1 -->
  <a
    class="generalButtons__navItem generalButtons__navItem--1 d-block position-absolute"
    routerLink="/tab-1"
    data-tracking="tab-1"
    >&nbsp;</a
  >
  <!-- tab-2 -->
  <a
    class="generalButtons__navItem generalButtons__navItem--2 d-block position-absolute"
    routerLink="/tab-2"
    data-tracking="tab-2"
    >&nbsp;</a
  >
  <!-- CRSwNP-1 -->
  <a
    class="generalButtons__navItem generalButtons__navItem--3 d-block position-absolute"
    routerLink="/tab-3-1"
    data-tracking="tab-3"
    >&nbsp;</a
  >
</nav>

<nav class="backToHome">
  <a
    class="backToHome__navItem d-block position-absolute"
    routerLink="/tab-0"
    data-tracking="Back to home"
    >&nbsp;</a
  >
</nav>
