<div class="screensaver" (click)="goToPanel()">
  <img class="screensaver__imageBg" [src]="screensaverImageUrl" alt="" />
  <!-- prettier-ignore -->
  <!-- <video #video class="position-absolute top-0 start-0" [src]="vid?.url" type="video/mp4" muted="muted" ></video> -->
</div>

<div
  app-screensaver-multiple-ss
  [arrOfScreenSavers]="arrOfScreenSavers"
  *ngIf="multipleOption && !multipleOptionAnswered && !questionAnswered"
  (pictureSelected)="pictureSelected($event)"
></div>
<div
  class="screensaverOption"
  app-screensaver-option
  [nextPage]="nextPage"
  *ngIf="doYouWantOptions && !questionAnswered"
></div>
