@import "./assets/scss/settings";

:root {
  --app-height: 100vh;
  --app-width: 100vw;
}

html {
  font-size: toVW(24);

  @media (min-aspect-ratio: 1300/900) {
    font-size: toVH(24);
  }
}

.container-landscape {
  height: calc(900 / 1300 * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: 1300/900) {
    height: var(--app-height);
    width: calc(1300 / 900 * var(--app-height));
  }
}

.container-portrait {
  height: calc(1300 / 900 * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: 900/1300) {
    height: var(--app-height);
    width: calc(900 / 1300 * var(--app-height));
  }
}

.container-landscape,
.container-portrait {
  position: relative;
  overflow: hidden;
}
