@import './assets/scss/settings';

:root {
  --app-height: 100vh;
  --app-width: 100vw;
}

html {
  font-size: toVW(24);

  @media (min-aspect-ratio: 1920/1080) {
    font-size: toVH(24);
  }
}

.container-landscape {
  height: calc(1080 / 1920 * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: 1920/1080) {
    height: var(--app-height);
    width: calc(1920 / 1080 * var(--app-height));
  }
}

.container-portrait {
  height: calc(1920 / 1080 * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: 1080/1920) {
    height: var(--app-height);
    width: calc(1080 / 1920 * var(--app-height));
  }
}

.container-landscape,
.container-portrait {
  position: relative;
  overflow: hidden;
}
