@import "./../../assets/scss/custom";

$animation-open-speed: 0.4s;
$animation-closing-speed: 0.2s;

.navigation {
  width: toREM(104);
  height: 100vh;
  background-color: $primary;
  transition: width $animation-open-speed;
  border-top-right-radius: toREM(15);
  border-bottom-right-radius: toREM(15);

  &:hover {
    width: toREM(402);
  }

  &.active {
    & .navigation__homeIconText {
      opacity: 1;
    }

    & .navigation__titleDescription {
      display: inline-block;
    }

    & .navigation__title {
      & .navigation__icon {
        transform: translateX(0);
      }
      & .navigation__titleDescription {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &__homeIcon {
    font-size: toREM(40);
    margin-left: toREM(32);
    min-width: toREM(401);
    svg {
      width: toREM(40);
      height: toREM(40);
    }
    span {
      line-height: toREM(40);
    }
  }

  &__homeIconText {
    opacity: 0;
    transition: opacity $animation-open-speed;
  }

  &__primaryListItem {
    &.active {
      & .navigation__title {
        background-color: $black;
      }
      & .navigation__secondaryList {
        transition: max-height $animation-open-speed ease-in-out;
        max-height: toREM(1000);
      }
      & > .navigation__titleDescription {
        opacity: 1;
      }
    }
  }

  &__title {
    font-size: toREM(25);
    line-height: toREM(25);
    padding-bottom: toREM(20);
    padding-top: toREM(20);
    border-radius: toREM(15);
    background-color: $secondary;
    margin-bottom: toREM(1);
    margin-top: toREM(1);
    transition: background-color $animation-open-speed;

    & .navigation__icon {
      transform: translateX(toREM(4));
      transition: transform $animation-open-speed ease-in-out,
        opacity $animation-open-speed ease-in-out;
    }
    & .navigation__titleDescription {
      transform: translateX(toREM(4));
      opacity: 0;
      transition: transform $animation-open-speed ease-in-out,
        opacity $animation-open-speed ease-in-out;
    }
  }

  &__icon {
    svg {
      width: toREM(25);
      height: toREM(25);
    }
  }

  &__titleDescription {
    display: none;
  }

  &__secondaryList {
    margin-left: toREM(106);
    max-height: 0;
    overflow: hidden;
    transition: max-height $animation-closing-speed ease-out;
  }

  &__secondaryListItem {
    margin-top: toREM(28);
    margin-bottom: toREM(28);
    font-size: toREM(25);
    opacity: 0.7;
    transition: opacity $animation-open-speed;
    min-width: toREM(314);
    &:hover {
      opacity: 1;
    }
  }
}
