<nav class="navigation text-white">
  <a class="text-white d-block pt-5" href="">MOAJ</a>

  <ul class="navigation__primaryList pt-5 list-unstyled">
    <li role="link">
      Panels
      <ul class="navigation__secondaryList list-unstyled">
        <li>Angular</li>
        <li>Electron</li>
        <li>Ios</li>
        <li>Components</li>
      </ul>
    </li>
    <li>
      Websites
      <ul class="navigation__secondaryList list-unstyled">
        <li>Angular</li>
        <li>Components</li>
      </ul>
    </li>
    <li>
      Components
      <ul class="navigation__secondaryList list-unstyled">
        <li>Modal</li>
      </ul>
    </li>
    <li>
      Utilities
      <ul class="navigation__secondaryList list-unstyled">
        <li>Find Pics</li>
      </ul>
    </li>
  </ul>
</nav>
