@import "./../../../../assets/scss/custom";

.isiContainer {
  width: 100%;
  max-height: toREM(474);
  height: toREM(1668);
  transition: max-height 0.3s;
  z-index: 400;

  &.active {
    max-height: toREM(1668);
  }

  &__isiContent,
  &__isiButtons {
  }

  &__isiBackground {
    background-image: url("/assets/images/shared/isi/isiBg.png");
    background-size: cover;
    width: toREM(1080);
    height: toREM(1668);
  }

  &__isiCollapsedContent {
    background-image: url("/assets/images/shared/isi/isiTextCollapsed.png");
    background-size: cover;
    width: toREM(1016);
    height: toREM(391);
    top: toREM(110);
    left: toREM(28);
  }
  &__isiExpandedContent {
    background-image: url("/assets/images/shared/isi/isiTextExpanded.png");
    background-size: cover;
    width: toREM(1016);
    height: toREM(1024);
    top: toREM(110);
    left: toREM(28);
  }

  &__arrowToggle {
    background-image: url("/assets/images/shared/isi/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: toREM(58);
    height: toREM(34);
    top: toREM(50);
    left: toREM(15);
    &.active {
      transform: rotate(180deg);
    }
  }

  &__bottomButtonsModals {
    background-image: url("/assets/images/shared/isi/isiBottonBtn.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: toREM(50);
    width: toREM(1080);
    bottom: 0;
    left: 0;
  }

  &__btnToggleISI {
    top: toREM(38);
    left: toREM(0);
    height: toREM(70);
    width: toREM(90);
  }
  &__btnOpenModal {
    bottom: 0;
    height: toREM(50);
    background: red;
    opacity: 0.5;

    &--modal1 {
      width: toREM(260);
      left: toREM(0);
    }
    &--modal2 {
      width: toREM(260);
      left: toREM(265);
    }
  }
}

.closeIsiInEmptyContent {
  z-index: 400;
  background: rgba($color: red, $alpha: 0.1);
  top: 0;
  left: 0;
  height: toREM(288);
  width: toREM(1080);
}
