@import "../../../../../assets/scss/custom";

:host {
  z-index: 200;
}
.backgroundShadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: 1);
  z-index: 100;
}

.options {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  z-index: 100;
  //
  &__tittle {
    margin-bottom: toREM(25);
    color: white;
  }
  //
  &__btnContainer {
    display: flex;
    justify-content: center;
  }
  &__btn {
    border: white solid toREM(2);
    background: transparent;
    color: white;
    width: toREM(200);
    height: toREM(50);
    text-align: center;
    font-weight: bold;
    &:hover {
      background: white;
      color: black;
    }
  }
}
