@import './assets/scss/settings';

:root {
  --app-height: 100vh;
  --app-width: 100vw;
}

html {
  font-size: toVW(<%= fontSize %>);

  @media (min-aspect-ratio: <%= vw %>/<%= vh %>) {
    font-size: toVH(<%= fontSize %>);
  }
}

.container-landscape {
  height: calc(<%= vh %> / <%= vw %> * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: <%= vw %>/<%= vh %>) {
    height: var(--app-height);
    width: calc(<%= vw %> / <%= vh %> * var(--app-height));
  }
}

.container-portrait {
  height: calc(<%= vw %> / <%= vh %> * var(--app-width));
  width: var(--app-width);

  @media (min-aspect-ratio: <%= vh %>/<%= vw %>) {
    height: var(--app-height);
    width: calc(<%= vh %> / <%= vw %> * var(--app-height));
  }
}

.container-landscape,
.container-portrait {
  position: relative;
  overflow: hidden;
}
