@import "./../../../../../assets/scss/custom";

.tab-3 {
  &__link {
    display: block;
    background: green;
    opacity: 0.5;
    z-index: 600;

    &--1 {
      top: toREM(1284);
      left: toREM(404);
      height: toREM(200);
      width: toREM(292);
    }
    &--2 {
      top: toREM(1284);
      left: toREM(696);
      height: toREM(200);
      width: toREM(292);
    }
  }
}
