<!-- prettier-ignore -->
<div class="closeIsiInEmptyContent position-absolute" *ngIf="isISIOpen" (click)="toggleISI(false)"><!-- Close ISI in Empty Content --></div>
<footer
  class="isiContainer active position-absolute bottom-0"
  [ngClass]="{ active: isISIOpen }"
>
  <div class="isiContainer__isiContent position-absolute top-0 w-100 h-100">
    <div class="isiContainer__isiBackground position-absolute top-0"></div>
    <!-- COLLAPSED CONTENT -->
    <section *ngIf="!isISIOpen">
      <div class="isiContainer__isiCollapsedContent position-absolute"></div>
    </section>
    <!-- EXPANDED CONTENT -->
    <section *ngIf="isISIOpen">
      <div class="isiContainer__isiExpandedContent position-absolute"></div>
    </section>
    <!-- GLOBAL CONTENT -->
    <section>
      <div
        class="isiContainer__arrowToggle position-absolute"
        [ngClass]="{ active: isISIOpen }"
      ></div>
      <div class="isiContainer__bottomButtonsModals position-absolute"></div>
    </section>
  </div>
  <div class="isiContainer__isiButtons position-absolute top-0 w-100 h-100">
    <!-- COLLAPSED BUTTONS -->
    <section *ngIf="!isISIOpen"></section>
    <!-- EXPANDED BUTTONS -->
    <section *ngIf="isISIOpen"></section>
    <!-- GLOBAL BUTTONS -->
    <section>
      <div
        class="isiContainer__btnToggleISI position-absolute"
        (click)="toggleISI()"
      ></div>
      <div
        class="isiContainer__btnOpenModal isiContainer__btnOpenModal--modal1 position-absolute"
        (click)="changeModalState([{ modal: 'modal1' }])"
      ></div>
      <div
        class="isiContainer__btnOpenModal isiContainer__btnOpenModal--modal2 position-absolute"
        (click)="changeModalState([{ modal: 'modal2' }])"
      ></div>
    </section>
  </div>
</footer>
