@import "./../../../../../assets/scss/custom";

:host {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
}

.multipleSS {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: toREM(1920);
  width: toREM(1080);
  background: #000;
  &__title {
    text-transform: uppercase;
    font-size: toREM(40);
    margin-bottom: toREM(150);
    font-weight: bold;
    color: white;
    text-align: center;
  }

  &__typesContainer {
    align-self: center;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: toREM(64);
  }

  &__typeItem {
    min-height: toREM(300);
    width: 25%;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
